* {
  box-sizing: border-box;
}

:root {
  --primary-color: #0f1b4c;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* ========== Common ========== */
a {
  text-decoration: none;
}

.content {
  width: 1110px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  min-width: 98px;
  padding: 18px 16px;
  border-radius: 12px;
  background: var(--primary-color);
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
}

.btn:hover {
  opacity: 0.9;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ========== Header ========== */
.fixed-header {
  background-color: #e6f0ff;
  padding-top: 26px;
  position: sticky;
  top: -26px;
  z-index: 1;
}

.hero-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #e6f0ff;
  height: calc(100vh - 90px);
}

.navbar {
  display: flex;
  align-items: center;
  padding: 12px 0;
}

.navbar ul {
  display: flex;
  margin-left: 50px;
}

.navbar .actions {
  margin-left: auto;
}

.navbar ul a {
  color: #4f5361;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 8px 14px;
}

.navbar ul a:hover {
  text-decoration: underline;
}

.navbar .action-link {
  color: var(--primary-color);
  font-size: 1.4rem;
  font-weight: 500;
}

.navbar .action-btn {
  padding: 13px 16px;
  margin-left: 18px;
  border-radius: 8px;
}

.hero {
  margin-top: 130px;
}

.hero .info {
  width: 51%;
}

.hero .sub-title {
  color: #687690;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.01em;
}

.hero .title {
  margin-top: 8px;
  color: #000336;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.19;
}

.hero .desc {
  margin-top: 30px;
  color: #5a6473;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.78;
}

.hero-cta {
  min-width: 170px;
  margin-top: 40px;
}

.hero-img {
  position: absolute;
  right: calc((100vw - 1110px) / 2 - 100px);
  bottom: 0;
}

/* ========== Clients ========== */

.clients {
  margin-top: 79px;
  padding: 43px 0 64px;
}

.clients .row {
  display: flex;
  justify-content: space-between;
}

.clients .desc {
  color: #7d8589;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.25;
}

.clients .row-desc {
  margin-top: 23px;
}

.clients .images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}

.clients .images a {
  display: flex;
  align-items: center;
  padding: 0 42px;
  height: 90px;
  border-radius: 12px;
}

.clients .images a:hover {
  box-shadow: 0px 10px 20px 0px #0000001a;
}

/* ========== Guides ========== */
.guides {
  margin-top: 40px;
  padding: 93px 0 79px;
}

.guides .sub-title {
  position: relative;
  color: #000339;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1;
}

.guides .sub-title::before {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  display: inline-block;
  width: 41px;
  height: 4px;
  border-radius: 12px;
  background: #000339;
}

.guides .desc {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 459px;
  max-width: 100%;
  color: #5a6473;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.88;
}

.list-guide {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.guide-item {
  margin: 0 70px;
  text-align: center;
}

.guide-item .title {
  margin-top: 26px;
  color: #3b3c45;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1;
}

.guide-item .link {
  display: inline-block;
  margin-top: 10px;
  color: #0689ff;
  font-size: 1.4rem;
  font-weight: 600;
}

.guide-item .arrow {
  margin-left: 6px;
}

.guide-cta {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.guide-cta .btn {
  min-width: 170px;
}

/* ========== Featured ========== */
.featured {
  margin-top: 41px;
  padding: 110px 0;
  background: #f5fafe;
}

.featured .sub-title {
  color: #000339;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1;
}

.featured .row {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.featured .desc {
  color: #5a6473;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.88;
}

.featured .link {
  display: flex;
  align-items: center;
  color: #0689ff;
  font-size: 1.8rem;
  font-weight: 600;
}

.featured .link .arrow {
  margin-left: 8px;
}

.featured .list {
  display: flex;
  gap: 30px;
  margin-top: 70px;
}

.featured .item {
  flex: 1;
  background: #fff;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.featured .item .thumb {
  width: 100%;
  height: 227px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.featured .item .body {
  padding: 17px 20px 24px;
}

.featured .item .title a {
  color: #000339;
  font-size: 2rem;
  line-height: 1.5;
  word-break: break-all;
  font-weight: 600;
}

.featured .item .desc {
  margin-top: 11px;
  color: #a3a6ab;
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 500;
}

.featured .item .info {
  display: flex;
  align-items: center;
  margin-top: 21px;
}

.featured .item .label {
  margin-left: 8px;
  color: #4d4d52;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.01em;
}

.featured .item .icon {
  margin-left: 23px;
}

.featured .item .icon:first-child {
  margin-left: 0;
}

/* ========== Stats ========== */
.stats {
  margin-top: 75px;
  padding: 50px 0;
}

.stats .content {
  width: 1048px;
}

.stats .row {
  display: flex;
}

.stats .img-block,
.stats .info {
  width: 50%;
}

.stats .img-block {
  position: relative;
}

.stats-trend {
  position: absolute;
  top: 0;
  left: 0;
  width: 239px;
  padding: 45px 22px 40px;
  border-radius: 0px 0px 12px 12px;
  background-color: #fff;
}

.stats-trend .value {
  color: #000339;
  font-size: 2.6rem;
  font-weight: 700;
  letter-spacing: 0.01em;
}

.stats-trend .icon {
  margin-left: auto;
}

.stats-trend .desc {
  color: #a7a7a7;
  font-size: 1.2rem;
  margin-top: 8px;
  font-weight: 400;
  line-height: 1.5;
}

.stats-trend .seperate {
  height: 1.2px;
  margin-top: 25px;
  background: #e9e9e9;
}

.stats .avatar-block {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 14px;
  margin-top: 26px;
}

.stats .avatar-group {
  display: flex;
}

.stats .avatar {
  width: 16px;
  height: 16px;
  margin-left: -3px;
  object-fit: cover;
  border-radius: 50%;
  line-height: 16px;
  text-align: center;
  background: var(--bg-color, #fff);
  color: #fff;
  font-size: 0.7rem;
  font-weight: 450;
  letter-spacing: -0.02em;
}

.stats .avatar:first-child {
  margin-left: 0;
}

.stats .info {
  padding: 79px 0 0 165px;
}

.stats .img-block .image {
  display: block;
  margin-left: auto;
  width: 400px;
  height: 460px;
  object-fit: cover;
  border-radius: 12px;
}

.stats .sub-title {
  position: relative;
  width: 269px;
  color: #000339;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.29;
}

.stats .sub-title::before {
  position: absolute;
  left: 0;
  top: -10px;
  content: "";
  display: block;
  width: 41px;
  height: 4px;
  border-radius: 12px;
  background: #000339;
}

.stats .info .desc {
  width: 309px;
  margin-top: 20px;
  color: #5a6473;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.88;
}

.stats .row-qty {
  margin-top: 110px;
  padding: 0 32px;
  justify-content: space-between;
}

.stats .qty {
  color: #000;
  font-size: 6.4rem;
  font-weight: 600;
}

.stats .qty-desc {
  margin-top: 24px;
  color: #7b8087;
  font-size: 18px;
  font-weight: 500;
}

/* ========== Subcription ========== */
.subcription {
  margin-top: 90px;
}

.subcription .body {
  position: relative;
  display: flex;
  align-items: center;
  height: 370px;
  border-radius: 20px;
  background: #063183;
}

.subcription .info {
  padding: 0 80px;
  width: 671px;
}

.subcription .sub-title {
  color: #fff;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.5;
}

.subcription .desc {
  margin-top: 15px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  opacity: 0.75;
}

.subcription .btn {
  margin-top: 20px;
  min-width: 151px;
  color: #002366;
  background: #fff;
}

.subcription .image {
  position: absolute;
  bottom: 0;
  right: 221px;
}

/* ========== Footer ========== */
.footer {
  margin-top: 55px;
  padding: 50px 0 58px;
}

.footer .row {
  display: flex;
}

.footer .row-top {
  gap: 185px;
}

.footer .heading {
  color: #1c1c1d;
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

.footer .list,
.footer .desc {
  margin-top: 42px;
}

.footer .item {
  margin-top: 18px;
}

.footer .item a,
.footer .desc {
  color: #7a7a7e;
  font-size: 1.6rem;
  font-weight: 400;
  white-space: nowrap;
}

.footer .desc {
  white-space: normal;
  line-height: 1.75;
}

.footer .social {
  display: flex;
  margin-top: 40px;
}

.footer .social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 3px;
  background: #f9f9f9;
}

.footer .social-link + .social-link {
  margin-left: 16px;
}

.footer .social-link:hover {
  background-color: #ebebeb;
}

.footer .row-bottom {
  margin-top: 81px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer .copyright {
  color: #c2c2c2;
  font-family: Poppins;
  font-size: 1.4rem;
  font-weight: 400;
}
